.app-container {
  padding-left: 15.5rem;
  .content-header {
    margin: -0.8rem 0 1rem;
    padding: 0.3rem 0 0 0;
    border-bottom: 1px solid #d1d1d1;
    .app-heading {
      color: #296293;
    }
  }
}
.app-container.hide-sidebar {
  padding-left: 1rem;
}