<app-header></app-header>
<div id="{{config.appId}}-skeleton">
  <div class="{{config.appId}}-sidebar" [hidden]="!config.isShowSidebar">
    <sidebar-component idApp="{{config.appId}}-sidebar-id" [menuItems]="config.menuItems"></sidebar-component>
  </div>
  <div class="app-container container-fluid" [ngClass]="{'hide-sidebar': !config.isShowSidebar || config.isSidebarHidden}">
    <div class="{{config.appId}}-breadcrumb">
      <breadcrumb-component idApp="{{config.appId}}-breadcrumb-id" [menuItems]="breadcrumbMenu"></breadcrumb-component>
    </div>
    <div class="{{config.appId}}-content">
      <div class="content-header clearfix">
        <h3 class="app-heading float-left">{{config.appTitle}}</h3>
          <div class="float-right">
            <button *ngFor="let btn of config.rightMenu" 
              type="button" 
              class="btn btn-secondary btn-sm mr-1" 
              (click)="btn.onClick()" 
              [hidden]="btn.hidden && btn.hidden()"
              [disabled]="btn.disabled && btn.disabled()">
              <span *ngIf="btn.icon"><fa-icon icon="{{btn.icon}}"></fa-icon></span> {{btn.title}}
            </button>
          </div>
        </div>
      <ng-content></ng-content>
    </div>
  </div>
</div>
<app-footer></app-footer>