<ul class="breadcrumb-wrapper">
  <li class="home" (click)="onHomeClick()"><span class="pr-1"><fa-icon icon="home"></fa-icon></span><a id="breadcumb-home">Home</a></li>
  <li *ngFor="let item of menuItems; let i = index">
    <a 
      id="{{idApp + '-' + item.id}}"
      *ngIf="i !== menuItems.length-1" 
      [ngClass]="{'disabled': item.disabled}" 
      (click)="onClickMenuItem(item, $event)"><span>{{ item.title }}</span>
    </a>
  </li> 
  <li class="active">{{ currentMenu.title }}</li>
</ul>