.breadcrumb-wrapper {
  background: none;
  border-bottom: thin solid #428bca;
  .home {
    cursor: pointer;
    color: #1254bb;
    :hover {
      text-decoration: underline;
    }
  }
  li {
    display: inline-block;
    padding: 0 0 0.5rem 0;
    a:after {
      content: '>';
      color: #ccc;
      padding-left: 0.3rem;
      padding-right: 0.3rem;
    }
  }
  .active {
    color: #296293;
    font-weight: bold;
  }
}