<table-component 
  [config]="dataView.config"  
  [data]="dataView.data"  
  (onSelectedListChanged)="onSelectedListChanged($event)"
  [detailTemplate]="detailTemplate">
  <!-- Custom detail in table component -->
  <ng-template #detailTemplate>
    <form class="detail-wrapper">
      <div class="form-group row" *ngFor="let item of dataView.config.columns">
        <label class="col-sm-5 col-form-label text-right">{{item.headerName}}</label>
        <div class="col-sm-7">
          <p class="form-control-plaintext text-primary">{{selectedList[0][item.field]}}</p>
        </div>
      </div>
    </form>
  </ng-template>
</table-component>
