.navbar-wrapper {
  background-color: #3680c1; 
  min-height: 5.6rem;
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); 
  margin-bottom: 0.5rem;
  z-index: 1000;
  .logout-item {
    cursor: pointer;
  }
  .nav-link {
    color: #fff;
  }
  .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
  }
}