.full-width-panel {
  white-space: normal;
  height: 100%;
  width: 100%;
  padding: 20px;
  background-color: #f5f5f5;
  border-left: 1px solid #ccc;
  margin-left: 30px;
}

.full-width-summary {
  float: left;
  margin-right: 10px;
}
.full-width-panel label {
  padding-top: 3px;
  display: inline-block;
  font-size: 12px;
}
.full-width-center {
  padding: 2px;
  height: 100%;
}