<div id="detail-inline" class="full-width-panel"> 
  <div *ngFor="let item of columns" [hidden]="!item.headerName">
    <div class="full-width-summary">
      <label>
          <b>{{item.headerName}}</b>
      </label>
  </div> 
  <div class="full-width-center"> 
    {{selectedList[0][item.field]}}
  </div>
  </div>
   
</div>