<div class="alert alert-{{alert.type}}" *ngFor="let alert of alertInstances">
  {{alert.message}}
  <button type="button" class="close">
    <span  (click)="removeAlert(alert)">&times;</span>
  </button>
</div>