<app-skeleton [(config)]="skeletonConfig">
  <app-main *ngIf="cache.currentView === 'main'" 
    (onChangeSelectedList)="onChangeSelectedList($event)" #main>
  </app-main>
  <app-create-edit *ngIf="cache.currentView === 'create' || cache.currentView === 'edit'"
    [cache]="cache">
  </app-create-edit>
</app-skeleton>