<div class="signin-wrapper">
  <form class="form-signin text-center" (ngSubmit)="onLogin()">
    <img class="mb-4" src="assets/images/logo.png" alt="" width="80%" height="100%">
    <label for="inputUsername" class="sr-only">Username</label>
    <input [(ngModel)]="loginForm.username" type="text" name ="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input [(ngModel)]="loginForm.password" type="password" name ="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <button [disabled]="!loginForm.username || !loginForm.password" [hidden]="isLoading" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <button [disabled]="isLoading" [hidden]="!isLoading" class="btn btn-lg btn-primary btn-block" type="submit">Loading...</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2019 Omnivista UI Team</p>
  </form>
</div>
