<div class="card">
  <div class="card-header">
    <h4>
      <span *ngIf="cache.currentView === 'create'">Create</span>
      <span *ngIf="cache.currentView === 'edit'">Edit</span>
    </h4>
  </div>
  <div class="card-body">
    <form>
      <div class="form-group row">
        <label for="name" class="col-sm-3 col-form-label text-right">Name</label>
        <input type="text" class="form-control col-sm-7" id="name" name="name" [(ngModel)]="cache.currentItem.name" placeholder="Enter Name">
      </div>
      <div class="form-group row">
        <label for="email" class="col-sm-3 col-form-label text-right">Email</label>
        <input type="text" class="form-control col-sm-7" id="email" [(ngModel)]="cache.currentItem.email" name="email" placeholder="Email">
      </div>
    </form>
  </div>
  <div class="card-footer text-right">
    <button type="button" class="btn btn-primary mr-2" (click)="onSubmitForm()" *ngIf="cache.currentView === 'create'">Create</button>
    <button type="button" class="btn btn-primary mr-2" (click)="onSubmitForm()" *ngIf="cache.currentView === 'edit'">Apply</button>
    <button type="button" class="btn btn-secondary" (click)="onCancelForm()">Cancel</button>
  </div>
</div>