<div class="card">
  <div class="card-header">
    <h4>
      <span *ngIf="cache.currentView === 'create'">Create Customer Domain</span>
      <span *ngIf="cache.currentView === 'edit'">Edit Customer Domain</span>
    </h4>
  </div>
  <div class="card-body">
    <form>
      <div class="form-group row">
        <label for="customerDomainId" class="col-sm-3 col-form-label text-right">Customer Domain Id</label>
        <input type="text" class="form-control col-sm-7" id="customerDomainId" name="customerDomainId" [(ngModel)]="cache.currentItem.customerDomainId" placeholder="0 - 511" [disabled]="cache.currentView === 'edit'">
      </div>
      <div class="form-group row">
        <label for="customerDomainDescription" class="col-sm-3 col-form-label text-right">Customer Domain Description</label>
        <input type="text" class="form-control col-sm-7" id="customerDomainDescription" [(ngModel)]="cache.currentItem.customerDomainDescription" name="customerDomainDescription">
      </div>
    </form>
  </div>
  <div class="card-footer text-right">
    <button type="button" class="btn btn-primary mr-2" (click)="onCreateForm()" *ngIf="cache.currentView === 'create'">Create</button>
    <button type="button" class="btn btn-primary mr-2" (click)="onEditForm()" *ngIf="cache.currentView === 'edit'">Apply</button>
    <button type="button" class="btn btn-secondary" (click)="onCancelForm()">Cancel</button>
  </div>
</div>