.sidebar-menu {
  overflow: auto;
  background-color: #3071a9;
  position: absolute;
  left: 0;
  top: 6.25rem;
  width: 14.375rem;
  height: 100%;
  color: #e1ffff;
  transition: left 0.15s ease-in-out;
  box-shadow: 1px 0px 9px 0px #777;
  .sidebar-brand {
    background-color: #155183;
    line-height: 2.5rem;
    display: block;
    text-align: center;
  }
  .toggle-btn {
    display: none;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 2.1rem;
    cursor: pointer;
  }
  li {
    padding-left: 0;
    a {
      display: block;
      text-decoration: none;
      color: #e1ffff;
      span {
        padding-left: 1rem;
      }
    }
  }
  li:hover {
    background-color: #428bca;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
  .menu-list {
    .menu-content {
      display: block;
    }
  } 
}