<!-- Sample template -->
<div class="sidebar-menu">
  <div class="sidebar-brand"><b>OVUI</b></div>
  <div class="menu-list">
    <ul id="menu-content" class="menu-content">
      <li *ngFor="let item of menuItems">
        <a (click)="onClickMenuItem(item, $event)"><span class="menu-item"></span>{{item.title}}</a>
      </li>
    </ul>
  </div>
</div>
