* {
  margin: 0;
  padding: 0;
}
body {
  background: #ecf3fa;
}
.ag-theme-balham {
  .ag-row-selected {
    background-color: #2d6ca2;
    .ag-cell-value {
      color: #ffffff;
    }
  }
  .ag-unselectable {
    user-select: auto !important;
  }
  .tag-success {
    background: #5cb85c;
    color: #ffffff;
    padding: 3px 5px;
    border-radius: 5px;
    border: 2px solid #fff;
  }
}