<form class="detail-wrapper">
  <div class="form-group row" *ngFor="let item of columns">
    <label class="col-sm-5 col-form-label text-right">{{item.headerName}}</label>
    <div class="col-sm-7">
      <p class="form-control-plaintext">{{selectedItem[item.field]}}</p>
    </div>
  </div>
</form>