<div id="dialog-{{dialogObject.id}}" class="modal-dialog" *ngIf="isShowDlg">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">{{dialogObject.title}}</h5>
      <button type="button" class="close">
        <span (click)="closeDialog()">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      {{dialogObject.body}}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="closeDialog()">Cancel</button>
      <button type="button" class="btn btn-primary" *ngFor="let btn of dialogObject.listAction"
        (click)="btn.onClick()">{{btn.title}}</button>
    </div>
  </div>
</div>