<div class="card table-wrapper float-left" [ngClass]="{'table-detail': config.showDetailRight && isShowDetail}">
  <div class="card-body">
    <div class="table-header">
      <div class="form-group float-left"><h4>{{config.title}}</h4></div>
      <div class="form-group float-right">
        <button *ngFor="let btn of config.rightMenu" type="button" class="btn btn-secondary btn-sm mr-1" (click)="btn.onClick()">
          <span *ngIf="btn.icon"><fa-icon icon="{{btn.icon}}"></fa-icon></span> {{btn.title}}
        </button>
      </div>
      <div class="form-group" *ngIf="!config.hideSearch">
        <input type="text" id="search-box" class="form-control" placeholder="Search..." 
          (keyup)="onSearchBoxChanged()" 
          [(ngModel)]="searchValue"/>
      </div>
    </div>
    <ag-grid-angular
      #agGrid
      style="width: 100%; height: 350px;"
      class="ag-theme-balham"
      suppressCellSelection = true
      [id]="config.id"
      [pagination]="config.pagination"
      [headerHeight]="config.headerHeight"
      [rowHeight]="config.rowHeight"
      [animateRows]="config.animateRows"
      [rowSelection]="config.rowSelection"
      [columnDefs]="columnDefs"
      [rowData]="rowData"
      (gridReady)="onGridReady($event)"
      (selectionChanged)="onSelectionChanged($event)"
      (sortChanged)="onSortChanged($event)"
      (rowClicked)="onRowClicked($event)"
      [overlayLoadingTemplate]="loadingTemplate"
      [overlayNoRowsTemplate]="noRowsTemplate"
      [frameworkComponents]="frameworkComponents"
      [isFullWidthCell]="isFullWidthCell"
      [isRowSelectable]="isRowSelectable"
      [fullWidthCellRenderer]="fullWidthCellRenderer"
      [getRowHeight]="getRowHeight">
    </ag-grid-angular>
  </div>
</div>
<div class="card table-detail float-right" *ngIf="config.showDetailRight && isShowDetail">
  <div class="card-body">
      <div class="clearfix">
          <a class="table-detail-right-link float-right"
            id="table-detail-right"
            (click)="hideDetail()">Hide detail</a>
      </div>
      <ng-container *ngTemplateOutlet="detailTemplate ? detailTemplate : detailTemplateDefault"></ng-container>
      <ng-template #detailTemplateDefault>
        <table-detail [columns]="columnDefs" [selectedItem]="selectedList[0]"></table-detail>
      </ng-template>
  </div>
</div>
