.table-wrapper {
  width: 100%;
  .table-header {
    .form-group {
      margin-bottom: 0.5rem
    }
  }
}
.table-wrapper.table-detail {
  width: calc(50% - 1rem);
}
.table-detail {
  width: 50%;
  .table-detail-right-link {
    text-decoration: underline;
    color: #007bff;
    cursor: pointer;
  }
}
